<!DOCTYPE html>
<html>
<head>
    <title>Enter Password</title>
</head>
<body>
    <form action="/decrypt-edit/<%= file %>" method="POST">
        <label>Password: <input type="password" name="password" required></label>
        <button type="submit">Unlock for Editing</button>
    </form>
</body>
</html>
